---
import PROJECTS from '../data/projects.js';
import ProjectCard from './ProjectCard.astro';
---

<div class="grid gap-6">
  {PROJECTS.map((p) => (
    <ProjectCard
      id={p.id}
      title={p.title}
      description={p.description}
      image={p.image}
      tags={p.tags}
      github={p.github}
      youtube={p.youtube}
    />
  ))}
</div>